.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 15px 30px;
}

.logo {
  color: white;
}

.links .link {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
}

.link.active {
  border-bottom: 2px solid yellow;
}